Task 1: Try this, Install Python, then install anaconda and open  Jupyter Lab or notebook (Ypu can decide to use google colabs or Kaggle Notebook) Then istall pandas and numpy for starters and import them in your notebook.
- Go on Kaggle and download the weather data into your local Laptop.
Link to kaggle dataset: https://www.kaggle.com/datasets/ayushmi77al/weather-data-set-for-beginners
The import the python packages necceassry to read and load this data into your notebook.
- From the dataset using pandas and numpy, list the top 10 rows, last 10 rows, the total number of columns and rows in the dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("Weather_data.csv")

In [3]:
data.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [4]:
data.tail()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [5]:
data.shape

(8784, 8)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date/Time         8784 non-null   object
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   int64
 4   Wind Speed_km/h   8784 non-null   int64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

In [7]:
data.describe()

,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

## Part 1: From the dataset above, write Python code to answer the following questions:
- Find all records where the weather was exactly clear.
- Find the number of times the wind speed was exactly 4 km/hr.
- Check if there are any NULL values present in the dataset.
- Rename the column "Weather" to "Weather_Condition."
- What is the mean visibility of the dataset?
- Find the number of records where the wind speed is greater than 24 km/hr and visibility is equal to 25 km.
- What is the mean value of each column for each weather condition?
- Find all instances where the weather is clear and the relative humidity is greater than 50, or visibility is above 40.
- Find the number of weather conditions that include snow.
## Part 2: Move this CSV into a database of your choice and use SQL to answer 4 of the questions above

## Part 1

In [8]:
# find all the records where the weather was exactly clear
clear_weather = data[data['Weather'] == 'Clear']
print("Records where the weather was exactly clear:")
print(clear_weather)

Records where the weather was exactly clear:
             Date/Time  Temp_C  Dew Point Temp_C  Rel Hum_%  Wind Speed_km/h  \
67      1/3/2012 19:00   -16.9             -24.8         50               24
114     1/5/2012 18:00    -7.1             -14.4         56               11
115     1/5/2012 19:00    -9.2             -15.4         61                7
116     1/5/2012 20:00    -9.8             -15.7         62                9
117     1/5/2012 21:00    -9.0             -14.8         63               13
...                ...     ...               ...        ...              ...
8646   12/26/2012 6:00   -13.4             -14.8         89                4
8698  12/28/2012 10:00    -6.1              -8.6         82               19
8713   12/29/2012 1:00   -11.9             -13.6         87               11
8714   12/29/2012 2:00   -11.8             -13.1         90               13
8756  12/30/2012 20:00   -13.8             -16.5         80               24

      Visibility_km  Press_kPa Weather
67             25.0     101.74   Clear
114            25.0     100.71   Clear
115            25.0     100.80   Clear
116            25.0     100.83   Clear
117            25.0     100.83   Clear
...             ...        ...     ...
8646           25.0     102.47   Clear
8698           24.1     101.27   Clear
8713           25.0     101.31   Clear
8714           25.0     101.33   Clear
8756           25.0     101.52   Clear

[1326 rows x 8 columns]

In [9]:
#  Find the number of times the wind speed was exactly 4 km/hr.

wind_speed = data[data['Wind Speed_km/h'] == 4].count()
print(f'the number of times the speed was "4km/h" is: {wind_speed}')

the number of times the speed was "4km/h" is: Date/Time           474
Temp_C              474
Dew Point Temp_C    474
Rel Hum_%           474
Wind Speed_km/h     474
Visibility_km       474
Press_kPa           474
Weather             474
dtype: int64

In [10]:
# Check if there are any NULL values present in the dataset.

data.isnull().sum()

Date/Time           0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_km/h     0
Visibility_km       0
Press_kPa           0
Weather             0
dtype: int64

In [11]:
# Rename the column "Weather" to "Weather_Condition."

data.rename(columns={'Weather': 'Weather_Condition'}, inplace=True)
data.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather_Condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [12]:
#  What is the mean visibility of the dataset?

visibility_mean = data['Visibility_km'].mean()
print(visibility_mean)

27.664446721311478

In [13]:
#  Find the number of records where the wind speed is greater than 24 km/hr and visibility is equal to 25 km.

wind_visibility = data[(data['Wind Speed_km/h']> 24) & (data['Visibility_km'] == 25)].shape[0]
print(wind_visibility)

308

In [14]:
#  What is the mean value of each column for each weather condition?

mean_values_per_weather = data.groupby('Weather_Condition')
mean_values_per_weather.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather_Condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8674,12/27/2012 10:00,-5.4,-6.4,93,41,0.6,100.64,"Moderate Snow,Blowing Snow"
8676,12/27/2012 12:00,-5.5,-6.6,92,39,0.6,100.50,"Moderate Snow,Blowing Snow"
8723,12/29/2012 11:00,-10.9,-12.2,90,7,6.4,101.09,"Snow Showers,Fog"
8724,12/29/2012 12:00,-10.5,-11.6,92,11,8.0,100.93,"Snow Showers,Fog"
8725,12/29/2012 13:00,-10.0,-11.1,92,22,9.7,100.63,"Snow Showers,Fog"

In [15]:
#  Find all instances where the weather is clear and the relative humidity is greater than 50, or visibility is above 40.
weather_clear_hum_visib = data[(data['Weather_Condition'] == 'clear') & (data['Rel Hum_%'] > 50 ) | (data['Visibility_km'] > 40)]
print(weather_clear_hum_visib)

             Date/Time  Temp_C  Dew Point Temp_C  Rel Hum_%  Wind Speed_km/h  \
106     1/5/2012 10:00    -6.0             -10.0         73               17
107     1/5/2012 11:00    -5.6             -10.2         70               22
108     1/5/2012 12:00    -4.7              -9.6         69               20
109     1/5/2012 13:00    -4.4              -9.7         66               26
110     1/5/2012 14:00    -5.1             -10.7         65               22
...                ...     ...               ...        ...              ...
8748  12/30/2012 12:00   -12.2             -15.7         75               26
8749  12/30/2012 13:00   -12.4             -16.2         73               37
8750  12/30/2012 14:00   -11.8             -16.1         70               37
8751  12/30/2012 15:00   -11.3             -15.6         70               32
8752  12/30/2012 16:00   -11.4             -15.5         72               26

      Visibility_km  Press_kPa Weather_Condition
106            48.3     100.45      Mainly Clear
107            48.3     100.41      Mainly Clear
108            48.3     100.38      Mainly Clear
109            48.3     100.40      Mainly Clear
110            48.3     100.46      Mainly Clear
...             ...        ...               ...
8748           48.3     100.91     Mostly Cloudy
8749           48.3     100.92     Mostly Cloudy
8750           48.3     100.96      Mainly Clear
8751           48.3     101.05      Mainly Clear
8752           48.3     101.15      Mainly Clear

[2014 rows x 8 columns]

In [16]:
# Find the number of weather conditions that include snow.
snow_conditions = data[data['Weather_Condition'].str.contains('Snow', case=False, na=False)].shape[0]
print(snow_conditions)

583